* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 50px ;
    background-color: #efefef;
}

span#q {
    /*color: blue ;*/
}

select#quiz_selector, select#quiz_selector_stats {
    height: 40px ;
    padding: 0 15px ;
    background-color: #eee ;
    border: 1px solid #eee ;
    font-size: 1em ;
    border-radius: 5px;
}

section#main {
    padding: 30px 60px ;
    max-width: 1400px ;
    background-color: #fff;
    margin-left: auto ;
    margin-right: auto ;
    border-radius: 5px;
    box-shadow: rgba(230,230,230,1) 0px 1px 10px 10px;
}

section#main h1 {
    font-size: 2em;
}

section#main h1 a {
    color: #000 ;
    text-decoration: none;
}

section#main h1 a:hover, section#main h1 a:focus {
    color: blue ;
}

section#main div#student_name_container {
    margin-top: 1.5em ;
}

section#main div.quiz_body h3 {
    margin-top: 40px ;
    margin-bottom: 10px ;
    line-height: 1.5em;
}

section#main div.quiz_body h3 a {
    color: rgba(0,0,0,1);
    text-decoration: none ;
    border-bottom: 2px solid #ccc ;
    transition: border-bottom .3s ease;
    padding-bottom: 2px ;
}

section#main div.quiz_body h3 a:hover, section#main div.quiz_body h3 a:focus {
    border-bottom: 2px solid #000 ;
}

/* remove top margin from first question. */
section#main div.quiz_body.q0 h3 {
    margin-top: 0 ;
}

section#main div.quiz_body {
    display: grid;
    grid-template-columns: 40px 1fr;
}

section#main div.quiz_body .question_number {
    text-align: right;
    padding-right: 7px;
}

section#main div.answers {
    display: grid;
    grid-template-columns: 540px 20px ;
    grid-column-gap: 10px;
}

section#main div.answers div.answer {
    margin: 10px 0 ;
    padding: 20px 20px ;
    background-color: #eee;
    border-radius: 5px;
    width: 500px ;
    /*box-sizing: border-box ;*/
    /*transition: background-color,box-shadow .25s ease ;*/
    transition: all .3s ease ;
    border: 2px solid #fff ;
    line-height: 1.6em ;
}

section#main div.answers div.hover {
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

section#main div.answers div.correct_answer {
    background-color: #3EAE1A ;
    color: #fff ;
}

section#main div.answers div.incorrect_answer {
    background-color: #C31919 ;
    color: #fff ;
}

section#main div.answers div.icon {
    border: 2px solid #fff ;
    font-size: 35px ;
    align-self: center;
    opacity: 0;
}

section#main div.answers div.icon.correct {
    color: #3EAE1A ;
}

section#main div.answers div.icon.incorrect {
    color: #C31919;
}

section#main div.answers div.correct_answer_not_selected {
    /*border: 2px solid #3EAE1A ;*/
    /*https://www.tutorialrepublic.com/faq/how-to-place-border-inside-of-div-element-using-css.php*/
    box-shadow: inset 0px 0px 0px 2px #3EAE1A;
}

section#main div.question_details div.explanation {
    display: none;
    margin-top: 1em ;
    width: 540px ;
    border-left: 4px solid #ccc ;
    padding-left: 10px ;
    line-height: 1.6em ;
    margin-left: 2px ;
}
section#main div.question_details div.explanation a {
    color: #000 ;
    text-decoration: none;
    border-bottom: 2px solid #ccc ;
    padding-bottom: 1px ;
    transition: border-bottom .3s ease ;
}
section#main div.question_details div.explanation a:hover,
section#main div.question_details div.explanation a:focus {
    border-bottom: 2px solid #000 ;
}
section#main code {
    font-family: 'Courier New', Courier, monospace ;
}

section#main p.summary {
    padding-left: 40px;
    font-size: 1.5em ;
}